table{
width:900px;
height:500px;
font-family:sans-serif;
}

td{
border-style:dotted;
border-width:1px;
border-color:#AAA;
text-align:center;
}

h1{
font-family:sans-serif;
}

.period td{
text-align:left;
font-size:12px;
padding-left:10px;
padding-right:10px;
}

.even{
background-color:#EEE;
}
.header:nth-child(even){

background-color:#333;
color:#FFF;
font-weight:bold;
}
.header:nth-child(odd){

background-color:#FFF;
color:#333;
font-weight:bold;
}
.odd{

}
