body{
font-family:Arial,sans-serif;
}


#banner{
height:200px;
}
#frm ul{
list-style:none;
}
#frm li{
padding-top:20px;
padding-bottom:10px;
clear:left;
font-family:arial;
color:#333;
}
#frm label{
font-weight:bold;
width:200px;
padding-right:50px;
float:left;
font-size:16px;
}
#frm input{
width:75px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
border-width:1px;
border-style:solid;
border-color:#888;
height:26px;
}
button, .button{
width:auto;
padding-top:5px;
padding-bottom:5px;
vertical-align:middle;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
border-width:1px;
border-style:solid;
border-color:#999;
height:auto;
color:#222;
background-color:#FFF;
font-size:14px;
}
img{
border:none;
}
button:hover, .button:hover{

color:#555;
border-color:#AAA;
background-color:#EEE;
}
button:active, .button:hover{
color:#CCC;
border-color:#777;
background-color:#777;
}
.info{
font-size:10px;
color:#888;
font-family:Arial;
}
.tooltip{
padding:8px;
background-color:#444;
position:absolute;
color:#FFF;
display:none;
font-size:11px;
border-radius:3px;
-moz-border-radius:3px;
}
#results{

font-size:20px;
font-weight:bold;
color:#222;

text-shadow:0 0 1px #222;
}
#results li{
font-size:12px;
text-shadow:none;
font-weight:normal;
}
.subtitle{
font-size:18px;
color:#CCC;
text-shadow:0 0 1px #CCC;
}
.title{
font-size:18px;
color:#444;
text-shadow:0 0 1px #444;
}
body{
margin:0px;
}
a{
text-decoration:none;
color:inherit;
}
#routine{

background-color:#FFF;
padding:20px;
}
.benchRows{
background-color:#FFD036;
color:#222;
}
.squatRows{
background-color:#D6D6D6;
color:#222;
}
.dlRows{
background-color:#ACFF30;
color:#222;
}
.ohpRows{
background-color:#30BAFF;
color:#222;
}
.signUpBox{
padding:10px;
padding-bottom:50px;
padding-top:50px;
border-style:solid;
border-width:1px;
border-color:#DDD;
background-color:rgba(255,255,255,1);
position:fixed;
margin-top:15px;
margin-left:15px;
border-radius:3px;
-moz-border-radius:3px;
font-family:Arial;
font-size:16px;
color:#333333;
font-weight:normal;
z-index:100;
width:30%;
left:35%;
top:50px;
}
.signUpBox input{
width:200px;
z-index:101s;
}
.cover{
position:fixed;
top:0px;
left:0px;
height:100%;
width:100%;
background-image:url("stylesheets/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png");
opacity: .80;
filter: Alpha(Opacity=80);
z-index:100;
}
.jslink{
cursor:pointer;
color:#1B94E0;
}
.jslink:hover{
color:#1F71A3;
}
#userBar{
text-align:right;
font-family:Arial;
padding:3px;
color:#666;
font-weight:bold;
font-size:12px;
padding-right:15px;
height:25px;
vertical-align:middle;
}
#track{
font-weight:normal;
font-size:15px;
padding:10px;
width:100%;
border-style:solid;
border-width:1px;
border-color:#DDD;
border-radius:3px;
-moz-border-radius:3px;
display:none;
}
#routine{
font-size:13px;
text-shadow:none;
}

#acc{
line-height:20px;
}
.success{
color:#00C3FF;
}
.failure{
color:#E30707;
}
#progress{
text-shadow:none;
font-weight:normal;
font-family:Arial;
}

ul.tabs {  
	margin:0 !important; 
	padding:0;
	height:30px;
	border-bottom:1px solid #666;	 	
}

/* single tab */
ul.tabs li {  
	float:left;	 
	padding:0; 
	margin:0;  
	list-style-type:none;	
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	float:left;
	font-size:13px;
	display:block;
	padding:5px 30px;	
	text-decoration:none;
	border:1px solid #BBB;	
	border-bottom:0px;
	height:18px;
	background-color:#efefef;
	color:#777;
	margin-right:2px;
	position:relative;
	top:1px;	
	outline:0;
	-moz-border-radius:4px 4px 0 0;	
	border-radius:4px 4px 0 0;	
}

ul.tabs a:hover {
	background-color:#F7F7F7;
	color:#333;
}
	
/* selected tab */
ul.tabs a.current {
	background-color:#FFF;
	border-bottom:1px solid #FFF;	
	color:#000;	
	cursor:default;
}

	
/* tab pane */
.panes .pane {
	display:none;
	border:1px solid #BBB;
	border-width:0 1px 1px 1px;
	min-height:150px;
	padding:25px;
	background-color:#FFF;	
}

/* root element for accordion. decorated with rounded borders and gradient background image */
#acc {
	background:#FFF;
	width: 100%;
	border:1px solid #333;	
	-background:#666;
}

/* accordion header */
#acc h2 {
	background:#CCC;
	color:#333;
	margin:0;
	padding:5px 15px;
	font-size:14px;
	font-weight:normal;
	border:1px solid #fff;
	border-bottom:1px solid #ddd;
	cursor:pointer;		
}

/* currently active header */
#acc h2.current {
	cursor:default;
	background-color:#FFF;
	color:#333;
}

/* accordion pane */
#acc .accPane {
	border:1px solid #fff;
	border-width:0 2px;
	display:none;
	
	padding:15px;
	color:#222;
	font-size:12px;
}

/* a title inside pane */
#acc .accPane h3 {
	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:16px;
	color:#999;
}

/*calendar*/
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:10000;
	
	margin-top:-1px;
	width:198px;
	padding:2px;
	background-color:#fff;
	font-size:11px;
	border:1px solid #ccc;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	-moz-box-shadow: 0 0 15px #666;
	-webkit-box-shadow: 0 0 15px #666;	
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {	
	padding:2px 0;
	height:22px;
} 

#caltitle {
	font-size:14px;
	color:#0150D1;	
	float:left;
	text-align:center;
	width:155px;
	line-height:20px;
	text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url(/images/prev.gif) no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

#calnext {
	background-image:url(/images/next.gif);
	float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;	
}

/* year/month selector */
#caltitle select {
	font-size:10px;	
}

/* names of the days */
#caldays {
	height:14px;
	border-bottom:1px solid #ddd;
}

#caldays span {
	display:block;
	float:left;
	width:28px;
	text-align:center;
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top:4px;
}

/* single week */
.calweek {
	clear:left;
	height:22px;
}

/* single day */
.calweek a {
	display:block;
	float:left;
	width:27px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	color:#666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 		
} 

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}

/* sunday */
a.calsun {
	color:red;		
}

/* offmonth day */
a.caloff {
	color:#ccc;		
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);		
}


/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc	!important;
	cursor:default;
}

/* current day */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}
#date{
font-size:15px;
color:#777;
padding:2px;
height:23px;
}
textarea{
-moz-border-radius:3px;
	-webkit-border-radius:3px; 	
	border-style:solid;
	border-color:#CCC;
	font-family:arial;
}


.dialog{
border-style:solid;
border-width:1px;
border-color:#DDD;
background-color:rgba(255,255,255,1);
	z-index:20;
	left:40%;
	width:20%;
	top:35%;
	 position: fixed;
 z-index: 10020;
	border-radius:3px;
-moz-border-radius:3px;
font-family:Arial;
font-size:16px;
color:#333333;
font-weight:normal;
}
